@import "tailwindcss";


* {
  box-sizing: border-box;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

/* Canvas selection highlight */
canvas {
  display: block;
}

/* Prevent text selection during drawing */
.no-select {
  user-select: none;
  -webkit-user-select: none;
}
